* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* #page1{
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2{
  height: 100%;
  width: 100%;
  background-color: rgb(70, 196, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;

}
#page3{
  height: 100%;
  width: 100%;
  background-color: rgb(12, 126, 163);
  display: flex;
  align-items: center;
  justify-content: center;
}
#box{
  height: 300px;
  width: 300px;
  background-color: crimson;
  border-radius:20px;
} */

body {
    overflow-x: hidden;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: #000;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(111, 204, 235);
    padding: 5vw 0;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: #000;
}

#page2 h1 {
    font-size: 25vw;
    text-transform: uppercase;
    font-weight: 600;
}