.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 2rem 0;
}


.header-container {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 2rem;
}

.header-inner {
    background: var(--glass-bg);
    backdrop-filter: blur(3px);
    border: 2px solid var(--glass-border);
    border-top: 1px solid var(--accent-color);
    border-radius: 15px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-navbar {
    width: 50px;
    height: 50px;
    background-image: url('./../../assets/img/logo.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;

}

.main-navigation {
    display: flex;
    gap: 1rem;
}





.btn-project,
.btn-contact {
    display: inline-block;
    padding: 0.4rem .8rem;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid var(--text-light);
    color: var(--text-light);
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    transition: color 0.3s ease;
}

.btn-project::before,
.btn-contact::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-project::before {
    background-color: var(--text-light);
    transform: translateY(100%);
}

.btn-project:hover::before {
    transform: translateY(0);
}

.btn-project {
    background-color: var(--accent-color);
    color: var(--text-light);
}

.btn-project:hover {
    color: var(--accent-color);
}

.btn-contact::before {
    background-color: var(--accent-color);
    transform: translateY(-100%);
}

.btn-contact:hover::before {
    transform: translateY(0);
}

.btn-contact {
    background-color: transparent;
    color: var(--text-light);
}