.projectShowcase {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 15vh;
}

.title-container {
    position: relative;
    text-align: center;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ProjectTitle {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

.underline-circle {
    position: absolute;
    left: 50%;
    top: calc(100% - 5px);
    width: 250px;
    height: 30px;
    transform: translateX(-50%);
    pointer-events: none;
}

.underline-circle path {
    fill: none;
    stroke: var(--accent-color);
    stroke-width: 3;
    stroke-linecap: round;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    background-color: #141414;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(99, 102, 241, 0.1);
    margin: 3vh 0;
}

.card:hover {
    transform: scale(1.05);
}

.card.reverse {
    flex-direction: row-reverse;
    background-color: #141414;
}

.project-image {
    flex: 1;
    min-width: 300px;
    text-align: right;
}

.card.reverse .project-image {
    text-align: left;
}

.project-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid var(--accent-color);
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-name {
    font-size: 2em;
    color: var(--text-color);
    font-weight: 600;
}

.project-description {
    color: var(--text-secondary);
    font-size: 1.1em;
    line-height: 1.6;
}

.project-link {
    display: inline-block;
    padding: 12px 30px;
    background: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 600;
    transition: all 0.3s ease;
    width: fit-content;
}

.project-link:hover {
    transform: scale(1.05);
}

.btnShowcase {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.btnShowcase a {
    display: inline-block;
    padding: 12px 30px;
    background: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 600;
    transition: all 0.3s ease;
}



.btnShowcase a:first-child {
    background-color: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}



@media (max-width: 768px) {

    .card,
    .card.reverse {
        flex-direction: column;
    }

    .project-image {
        min-width: 100%;
    }

    #ProjectTitle {
        font-size: 2em;
    }
}